@page "/"
@inject IJSRuntime JSRuntime
<div class="f_options">
    @{
        for (var i = 1; i <= 12; i++)
        {
            var optionIndex = i - 1;
            <span>
                <label for="option@i">@i</label>
                <input type="checkbox" checked="@_options[optionIndex]" value="@i" name="option@i" @onchange="async eventArgs => { await OptionClicked(optionIndex, (bool)eventArgs.Value); }" />
            </span>
        }
    }
</div>

<div class="question">
    @if (_equation.IsMultipleFirst)
    {
        RenderProductInput(_equation);<span> = </span>RenderFactorsInput(_equation);
    }
    else
    {
        RenderFactorsInput(_equation);<span> = </span>RenderProductInput(_equation);
    }
</div>

<div class="answers">
    <ul>
        @foreach (var equation in GetAnswers())
        {
            <li class="@(equation.IsCorrect ? "correct" : "incorrect")">
                @if (equation.IsMultipleFirst)
                {
                    RenderMultiple(equation);<span> = </span>RenderFactors(equation);
                }
                else
                {
                    RenderFactors(equation);<span> = </span>RenderMultiple(equation);
                }

                @if (!equation.IsCorrect)
                {
                    <span class="badResult">@equation.Result</span>
                }
            </li>
        }
    </ul>
</div>

@{
    void RenderProductInput(Equation equation)
    {
        if (_equation.Multiple == null)
        {
            RenderInput();
        }
        else
        {
            <span>@_equation.Multiple</span>
        }
    }

    void RenderFactorsInput(Equation equation)
    {
        if (_equation.Factor1 == null)
        {
            RenderInput();
        }
        else
        {
        <span>@_equation.Factor1</span>
        }
    
        <span> x </span>
    
        if (_equation.Factor2 == null)
        {
            RenderInput();
        }
        else
        {
            <span>@_equation.Factor2</span>
        }
    }
    
    void RenderInput() 
    {
        <input type="number" placeholder="?" @bind-value="_result" @bind-value:event="oninput" @onkeyup="@KeyUp"  id="numberInput" />
    }
    
    void RenderFactors(Equation equation) 
    {
        RenderFactor1(equation);<span> x </span>RenderFactor2(equation);
    }

    void RenderFactor1(Equation equation)
    {
        RenderNumber(equation, equation.Factor1);
    }

    void RenderFactor2(Equation equation)
    {
        RenderNumber(equation, equation.Factor2);
    }
    
    void RenderMultiple(Equation equation)
    {
        RenderNumber(equation, equation.Multiple);
    }

    void RenderNumber(Equation equation, int? number)
    {
        if (number != null)
        {
            <span>@number</span>
        }
        else if (equation.IsCorrect)
        {
            <span class="correctResult">@equation.Result</span>
        }
        else
        {
            <span class="correctedResult">@equation.OriginalResult</span>
        }
    }
}

@code {
    const string InputId = "numberInput";
    private readonly Random _random = new Random();

    private bool[] _options = new bool[12];
    
    private readonly List<Equation> _answers = new List<Equation>();

    private Equation _equation;
    private string _result;

    protected override async Task OnInitializedAsync()
    {
        _equation = CreateEquation();

        await JSRuntime.FocusAsync(InputId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Focus the element
            await JSRuntime.FocusAsync(InputId);
        }
    }

    private Equation CreateEquation()
    {
        int factor1;

        var options = _options.Select((x, i) => x ? i + 1 : 0).Where(x => x != 0).ToArray();

        if (options.Length > 0)
        {
            factor1 = options[_random.Next(options.Length)];
        }
        else {
            factor1 = _random.Next(1, 12);
        }

        var input2 =  _random.Next(1, 12);
        var multiply = factor1 * input2;

        var equationOrder = _random.Next() > (Int32.MaxValue / 2);
        var factorOrder = _random.Next() > (Int32.MaxValue / 2);
        var hideMultiply = _random.Next() > (Int32.MaxValue / 2);

        var factor2 = hideMultiply ? (int?)input2 : null;
        var result = hideMultiply ? multiply : input2;

        return new Equation
        {
            Factor1 = factorOrder ? factor1 : factor2,
            Factor2 = factorOrder ? factor2 : factor1,
            Multiple = hideMultiply ? null : (int?)multiply,
            OriginalResult = result,
            IsMultipleFirst = equationOrder
        };
    }
    
    private async Task OnSubmit()
    {
        if (string.IsNullOrWhiteSpace(_result) || !int.TryParse(_result, out var parsedResult))
        {
            return;
        }

        _equation.Result = parsedResult;
        _answers.Add(_equation);

        _equation = CreateEquation();
        _result = null;

        await JSRuntime.FocusAsync(InputId);
    }

    private async Task KeyUp(KeyboardEventArgs  eventArgs)
    {
        if (eventArgs.Key == "Enter" )
        {
            await OnSubmit();
        }        
    }

    private async Task OptionClicked(int optionIndex, bool isClicked)
    {
        _options[optionIndex] = isClicked;

        _equation = CreateEquation();
        _result = null;

        await JSRuntime.FocusAsync(InputId);
    }

    private IEnumerable<Equation> GetAnswers()
    {
        for (var i = _answers.Count - 1; i >= 0; i--)
        {
            yield return _answers[i];
        }
    }

    public class Equation
    {
        public int? Factor1 { get; set; }
        
        public int? Factor2 { get; set; }

        public int? Multiple { get; set; }

        public int Result { get; set; }

        public int OriginalResult { get; set; }

        public bool IsMultipleFirst { get; set; }

        public bool IsCorrect => Result == OriginalResult;
    }
}